@model IndexServiceModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-4">Welcome <br> @(Model.IsTrainer ? "Trainer" : "Enthusiast").</h1>
                <p class="lead my-4">
                    @(Model.IsAccountCompleted ? "Your account is fully completed." : "Your account is not completed. Please complete your account to use all of the functionality of the website.")
                    <br> Enjoy yourself with us ...
                    <br /> And move your body to the next level because, the movements are healthy.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="devices pl-md-4 pt-5 pt-md-0">
                    <img src="https://static.sportzbusiness.com/uploads/2020/04/Athletes.jpg" alt="Example Navbar 1" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
@if (!Model.IsAccountCompleted)
{
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        <strong>Hey!</strong> Your account is not completed
        <a asp-controller="Accounts" asp-action="CompleteAccount">click here.</a> to complete your account. This will unlock more options for you.
    </div>
}
<br />
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="feature">
                    <div class="big-icon text-primary"><i class="fas fa-tools"></i></div>
                    <h5 class="text-primary">Learn From The Best</h5>
                    <p class="lead">Here you will find a wide range of experienced coaches and you will have the opportunity to learn from the best.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <div class="big-icon text-secondary"><i class="fas fa-puzzle-piece"></i></div>
                    <h5 class="text-secondary">Workouts &amp; Diets</h5>
                    <p class="lead">The workouts and diets we offer are suitable for both beginners and advanced.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <div class="big-icon text-success"><i class="fas fa-palette"></i></div>
                    <h5 class="text-success">Nutrition Plan</h5>
                    <p class="lead">Each user can receive an individual training and nutrition plan, specially prepared according to the needs and the desired goal to achieve the best possible results.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-posts">
    <div class="text-center">
        <h2>Latest Supplements</h2>
        <br />
    </div>
    <div class="container">
        <div class="row">
            @foreach (var supplement in Model.LatestSupplements)
            {
                <div class="col-sm-6 col-md-4 mb-4">
                    <div class="component">
                        <div class="card card-home-height">
                            <div class="card-header">
                                <img class="card-img card-home-img" src="@supplement.ImageUrl" alt="@supplement.Name">
                            </div>
                            <div class="card-body">
                                <span class="badge badge-success mb-2">@supplement.Category</span>
                                <h4 class="card-title">@supplement.Name</h4>
                                <p class="card-text">Price: <b>@supplement.Price BGN</b></p>
                                <p class="card-text">Quantity: <b>@((supplement.Quantity / 1000.0).ToString("F3")) kg</b></p>
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br />
<div class="blog-posts">
    <div class="text-center">
        <h2>Latest Workouts</h2>
        <br />
    </div>
    <div class="container">
        <partial name="_WorkoutsPartial" model="Model.LatestWorkouts" />
    </div>
</div>
<br />
<div class="testimonials">
    <div class="info text-center">
        <h2>Testimonials</h2>
        <br />
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="testimonial d-flex flex-column align-items-center">
                    <div class="big-bubble bg-info bubble-top-left"></div>
                    <p class="lead font-italic">"Lazy kit impressed me on multiple levels. It's the perfect solution for our business. Thank you so much for your help. Best. Product. Ever!"</p>
                    <p>
                        <b>Cathee V.</b>,<br>
                        Web Developer
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="testimonial d-flex flex-column align-items-center mt-md-4">
                    <div class="big-bubble"></div>
                    <p class="lead font-italic">"I will recommend you to my colleagues. Thank you for making it painless, pleasant and most of all hassle free! It really saves me time and effort."</p>
                    <p>
                        <b>Tom B.</b>,<br>
                        Fullstack Developer
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="testimonial d-flex flex-column align-items-center">
                    <div class="big-bubble bg-warning bubble-top-right"></div>
                    <p class="lead font-italic">"Needless to say we are extremely satisfied with the results. Lazy kit did exactly what you said it does. Lazy kit has really helped our business."</p>
                    <p>
                        <b>Billie A.</b>,<br>
                        Web Designer
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="testimonial d-flex flex-column align-items-center mt-md-4">
                    <div class="big-bubble bg-success bubble-bottom-right"></div>
                    <p class="lead font-italic">"We've used Lazy kit for the last five projects. I wish I would have thought of it first. I am completely blown away. Definitely worth giving it a try."</p>
                    <p>
                        <b>Jack F.</b>,<br>
                        Front-End Developer
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h2 class="text-center">Latest Register Users</h2>
<br />
<div class="row">
    @foreach (var user in Model.Users)
    {
        <div class="col-md-4">
            <div class="component">
                <div class="card card-home-height">
                    <div class="card-header">
                        <img class="card-img card-home-img" src="@user.UserImageUrl" alt="@user.UserUserName">
                    </div>
                    <div class="card-body">
                        <span class="badge badge-warning mb-2">@user.SportName</span>
                        <h4 class="card-title">@user.UserUserName</h4>
                        <p class="card-text">Country: <b>@user.Country</b></p>
                        <p class="card-text">Gender: <b>@user.Gender</b></p>
                        <p class="card-text">Age: <b>@user.Age Years</b></p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Accounts" asp-action="Account" asp-route-username="@user.UserUserName" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<br />

<div class="text-center">
    <button id="show-stats-btn" class="btn btn-info">Show Statistics</button>
</div>

<div id="show-stats" class="jumbotron d-none">
    <div class="row">
        <h2 id="total-trainers" class="col-md-4 text-center"></h2>
        <h2 id="total-enthusiasts" class="col-md-4 text-center"></h2>
        <h2 id="total-workouts" class="col-md-4 text-center"></h2>
    </div>
</div>

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}