@model IEnumerable<SupplementCategoryServiceModel>
@{
    ViewData["Title"] = "Supplements Categories Administration";

    var editMessage = TempData[WebConstants.TempDataMessageKeys.EditKey];

    if (editMessage != null)
    {
        <partial name="_EditMessagePartial" model="@editMessage" />
    }
}

<h1 class="text-center">Supplements Categories</h1>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Is Deleted</th>
            <th scope="col">Modify</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoy in Model)
        {
            <tr>
                <th scope="row">@categoy.Id</th>
                <td>@categoy.Name</td>
                <td>@Html.DisplayFor(modelItem => @categoy.IsDeleted)</td>
                <td>
                    <div class="text-white float-right">
                        <a asp-area="Administration"
                           asp-controller="SupplementCategories"
                           asp-action="Edit"
                           asp-route-id="@categoy.Id"
                           class="btn btn-warning ml-2">
                            Edit
                        </a>
                        <a asp-area="Administration"
                           asp-controller="SupplementCategories"
                           asp-action="Restore"
                           asp-route-id="@categoy.Id"
                           class="btn btn-success ml-2">
                            Restore
                        </a>
                        <a asp-area="Administration"
                           asp-controller="SupplementCategories"
                           asp-action="Delete"
                           asp-route-id="@categoy.Id"
                           class="btn btn-danger ml-2">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>