@model IEnumerable<TrainerViewModel>
@{
    this.ViewData["Title"] = "Trainers";
}

<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="fa fa-warning"></i>
        <strong>Oops!</strong> Only the users who are completed their account will be listed here.
    </div>

    @foreach (var trainer in this.Model)
    {
        <div class="row card-trainer p-2 m-3">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img src="@trainer.ImageUrl" alt="stack photo" class="img-trainer">
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <ul class="container">
                    <li>
                        <p>Name:<b> @trainer.Username</b></p>
                    </li>
                    <li>
                        <p>Practice:<b> @trainer.Sport</b></p>
                    </li>
                    <li>
                        <p>Goal:<b> @trainer.Goal</b></p>
                    </li>
                    <li>
                        <p>Training Frequency:<b> @trainer.TrainingFrequency</b></p>
                    </li>
                    <li>
                        <a class="btn btn-info btn-sm" asp-controller="Accounts" asp-action="Account" asp-route-username="@trainer.Username">
                            View More
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>