@model AllTrainersViewModel
@{
    ViewData["Title"] = "Trainers";
}

<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="fa fa-warning"></i>
        <strong>Oops!</strong> Only the users who are completed their account will be listed here.
    </div>

    <div class="row">
        @foreach (var trainer in Model.Trainers)
        {
            var isStarChecked = (int)Math.Floor(trainer.VotesAverageValue);
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="component">
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img workout-img" src="@trainer.ImageUrl" alt="dog">
                        </div>
                        <div class="card-body">
                            <span class="badge badge-success mb-2">@trainer.Sport</span>
                            <h4 class="card-title">@trainer.Username</h4>
                            <p class="card-text">Goal: <b>@trainer.Goal</b></p>
                            @for (int i = 1; i <= 5; i++)
                            {
                                <span class="fa fa-star @(isStarChecked >= i ? "star-checked" : "")" data-vote="@i"></span>
                            }
                            <span>&nbsp; <b id="avg-vote-rating">@trainer.VotesAverageValue.ToString("F1")</b></span><span> / <b>5</b></span>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="Accounts" asp-action="Account" asp-route-username="@trainer.Username" class="btn btn-primary">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />

    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }
        var maxPage = (int)Math.Ceiling((double)Model.TotalTrainers / AllTrainersViewModel.TrainersPerPage);
        if (maxPage == 0)
        {
            maxPage = 1;
        }
    }

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                <a class="page-link"
                   asp-controller="Trainers"
                   asp-action="All"
                   asp-route-currentPage="@previousPage">
                    Previous
                </a>
            </li>
            @if ((Model.CurrentPage - 1) > 1)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Trainers"
                       asp-action="All"
                       asp-route-currentPage="@(Model.CurrentPage - 2)">
                        @(Model.CurrentPage - 2)
                    </a>
                </li>
            }
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-controller="Trainers"
                       asp-action="All"
                       asp-route-currentPage="@(Model.CurrentPage - 1)">
                        @(Model.CurrentPage - 1)
                    </a>
                </li>
            }
            <li class="page-item active disabled">
                <a class="page-link"
                   asp-controller="Trainers"
                   asp-action="All"
                   asp-route-currentPage="@Model.CurrentPage">
                    @Model.CurrentPage
                </a>
            </li>
            @if (Model.CurrentPage < maxPage)
            {
                <li class="page-item @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)">
                    <a class="page-link"
                       asp-controller="Trainers"
                       asp-action="All"
                       asp-route-currentPage="@(Model.CurrentPage + 1)">
                        @(Model.CurrentPage + 1)
                    </a>
                </li>
            }
            @if ((Model.CurrentPage + 1) < maxPage)
            {
                <li class="page-item @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)">
                    <a class="page-link"
                       asp-controller="Trainers"
                       asp-action="All"
                       asp-route-currentPage="@(Model.CurrentPage + 2)">
                        @(Model.CurrentPage + 2)
                    </a>
                </li>
            }
            <li class="page-item @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)">
                <a class="page-link"
                   asp-controller="Trainers"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage + 1)">
                    Next
                </a>
            </li>
        </ul>
    </nav>
</div>