@model WorkoutDetailsServiceModel
@{
    this.ViewData["Title"] = this.Model.Title;
}

<link href="~/css/details.css" rel="stylesheet" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <img src="@this.Model.ImageUrl" alt="" class="img-fluid mb30">
                <div class="post-content">
                    <h3 class="text-center">@this.ViewData["Title"]</h3>
                    <hr />
                    <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fas fa-user-circle"></i>
                            <a asp-controller="Accounts" asp-action="Account" asp-route-username="@this.Model.UserUsername">@this.Model.UserUsername</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-calendar-alt"></i> <a href="javascript:void(0)">@this.Model.CreatedOn.ToString("D")</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-dumbbell"></i> <a href="javascript:void(0)">@this.Model.Sport</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-tags"></i> <a href="javascript:void(0)">@this.Model.DifficultLevel</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-child"></i> <a href="javascript:void(0)">@this.Model.BodyPart</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-clock"></i> <a href="javascript:void(0)">@this.Model.Minutes Minutes</a>
                        </li>
                    </ul>
                    <hr />
                    <h3 class="text-center">Content</h3>
                    <hr />
                    <div>
                        @Html.Raw(this.Model.Content)
                    </div>
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">About Author</h4>
                    <div class="media mb40">
                        <img src="@this.Model.UserImageUrl" class="d-flex mr-3 img-fluid rounded-circle author-img" alt="@this.Model.UserUsername" />
                        <div class="media-body">
                            <h5 class="mt-0"><b>@this.Model.UserUsername</b></h5> @this.Model.UserDescription
                        </div>
                    </div>
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">Comments</h4>
                    <div id="all-comments">
                        @foreach (var comment in this.Model.Comments)
                        {
                            <div class="media mb40">
                                <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                                <img src="@comment.UserImageUrl" class="d-flex mr-3 img-fluid rounded-circle comment-img" />
                                <div class="media-body">
                                    <h5 class="mt-0 font400 clearfix">
                                        <b>@comment.Username</b>
                                    </h5> @comment.Content
                                </div>
                            </div>
                        }
                    </div>
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">Post a comment</h4>
                    <form role="form" method="post">
                        <div class="form-group">
                            <label>Comment</label>
                            <textarea id="comment-content" class="form-control" minlength="10" maxlength="1000" name="Content" required="" rows="5" placeholder="Comment"></textarea>
                        </div>
                        <div class="clearfix float-right">
                            <button id="add-comment" type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                </div>
            </article>

        </div>
        <div class="col-md-3 mb40">
            <div class="mb40">
                <h4 class="sidebar-title">Popular Sports</h4>
                <ul class="list-unstyled categories">
                    @foreach (var sport in this.Model.Sports)
                    {
                        <li>
                            <a href="javascript:void(0)">@sport</a>
                        </li>
                    }
                </ul>
            </div>
            <div>
                <h4 class="sidebar-title">Latest Workouts</h4>
                <ul class="list-unstyled">
                    @foreach (var workout in this.Model.LatestWorkouts)
                    {
                        <li class="media mb-4">
                            <img class="d-flex mr-3 img-fluid latest-workout-img" width="64" src="@workout.ImageUrl" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">
                                    <a asp-controller="Workouts" asp-action="Details" asp-route-id="@workout.Id">@workout.Title</a>
                                </h5> @workout.CreatedOn.ToString("D")
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#add-comment').on('click',
            ev => {
                ev.preventDefault();
                var content = $('#comment-content').val();
                var workoutId = @this.Model.Id;
                var data = { content: content, workoutId: workoutId };

                $.ajax({
                    type: 'POST',
                    url: '/api/comments',
                    data: JSON.stringify(data),
                    success: function(data) {
                        $('#comment-content').val('');
                        var newComment = `<div class="media mb40"><i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i><img src=${data.userImageUrl} class="d-flex mr-3 img-fluid rounded-circle comment-img" /><div class="media-body"><h5 class="mt-0 font400 clearfix"><b>${data.userUsername}</b></h5> ${data.content}</div></div>`;
                        $('#all-comments').append(newComment);
                    },
                    contentType: 'application/json'
                });
            })
    </script>
}