@model GroupWorkoutDetailsModel
@{
    ViewData["Title"] = Model.Title;
}

<link href="~/css/details.css" rel="stylesheet" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-md-9 mb40">
            @if (User.IsInRole(WebConstants.AdministratorRoleName) || User.Identity.Name == Model.TrainerUsername)
            {
                <div class="mb-1">
                    <a asp-area="Administration" asp-controller="GroupWorkouts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary text-white">
                        Edit
                    </a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete">
                        Delete
                    </button>
                </div>
            }
            <article>
                <img src="@Model.ImageUrl" alt="" class="img-fluid mb30">
                <div class="post-content">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                    <hr/>
                    <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fas fa-user-circle"></i>
                            <a asp-controller="Accounts" asp-action="Account" asp-route-username="@Model.TrainerUsername">@Model.TrainerUsername</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="far fa-calendar-alt"></i> <a href="javascript:void(0)">@Model.CreatedOn</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-dumbbell"></i> <a href="javascript:void(0)">@Model.Sport</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-tags"></i> <a href="javascript:void(0)">@Model.Address</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-child"></i> <a href="javascript:void(0)">@Model.MaximumParticipants</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fas fa-clock"></i> <a href="javascript:void(0)">@Model.PricePerPerson BGN</a>
                        </li>
                    </ul>
                    <hr/>
                    <p>Enjoy with training "<b>@Model.Title</b>" On <b>@Model.StartOn.ToString("D")</b> (<b>@Model.StartOn.DayOfWeek</b>) from <b>@Model.StartOn.TimeOfDay.ToString("hh':'mm")</b> h, with trainer <b>@Model.TrainerUsername</b>. In <b>@Model.Address</b>.</p>
                    <hr/>
                    <h3 class="text-center">Content</h3>
                    <div>
                        @Html.Raw(Model.Content)
                    </div>
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500">About Author</h4>
                    <div class="media mb40">
                        <img src="@Model.TrainerImageUrl" class="d-flex mr-3 img-fluid rounded-circle author-img" alt="@Model.TrainerUsername"/>
                        <div class="media-body">
                            <h5 class="mt-0"><b>@Model.TrainerUsername</b></h5> @Model.TrainerDescription
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-3 mb40">
            <div class="mb40">
                <ul class="list-unstyled categories">
                    <li>
                        <h4 class="sidebar-title">Ticket Price:</h4>
                        <a href="javascript:void(0)">@Model.PricePerPerson BGN</a>
                        <br />
                    </li>
                    <li>
                        <h4 class="sidebar-title">Maximum Participants:</h4>
                        <a href="javascript:void(0)"><span>@Model.MaximumParticipants</span> People</a>
                        <br />
                    </li>
                    <li>
                        <h4 class="sidebar-title">Start/End Time:</h4>
                        <a href="javascript:void(0)">@Model.StartOn.ToString("f") h</a>
                        <a href="javascript:void(0)">@Model.EndOn.ToString("f") h</a>
                        <br />
                    </li>
                    <li>
                        <h4 class="sidebar-title">Duration:</h4>
                        <a href="javascript:void(0)">@((Model.EndOn - Model.StartOn).ToString("hh':'mm")) h</a>
                        <br />
                    </li>
                </ul>
            </div>
            @if (Model.StartOn >= DateTime.UtcNow)
            {
                <h4 class="sidebar-title">Free Places: <span id="available-tickets">@Model.AvailableTickets</span></h4>
                <h4 class="sidebar-title">Bought Tickets: <span id="bought-tickets">@(Model.MaximumParticipants - Model.AvailableTickets)</span></h4>
                <br />
                <div class="mb40">
                    <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-block text-white">Buy Ticket</button>
                </div>
            }
            else
            {
                <h4 class="sidebar-title">It's too late to buy a ticket.</h4>
                <h4 class="sidebar-title">Go and find another workout.</h4>
            }
            <div>
                <br/>
                <h4 class="sidebar-title">Latest Workouts</h4>
                <ul class="list-unstyled">
                    @foreach (var workout in Model.LatestWorkouts)
                    {
                        <li class="media mb-4">
                            <img class="d-flex mr-3 img-fluid latest-workout-img" width="64" src="@workout.ImageUrl" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">
                                    <a asp-controller="Workouts" asp-action="Details" asp-route-id="@workout.Id">@workout.Title</a>
                                </h5> @workout.CreatedOn.ToString("D")
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>@Model.AvailableTickets Tickets Left</p>
                <form id="buy-ticket" method="post">
                    <div class="form-group">
                        <label class="col-form-label">Full Name</label>
                        <input name="fullName" required="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Phone Number</label>
                        <input name="phoneNumber" required="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Card</label>
                        <input name="card" required="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Bought Tickets</label>
                        <input name="boughtTickets" type="number" required="" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Buy Ticket</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete @Model.Title ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this workout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-area="Administration" asp-controller="GroupWorkouts" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary text-white">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#buy-ticket').submit(ev => {
            ev.preventDefault();

            var groupWorkoutId = @Model.Id;
            var fullName = $('#buy-ticket').find('input[name="fullName"]').val();
            var phoneNumber = $('#buy-ticket').find('input[name="phoneNumber"]').val();
            var card = $('#buy-ticket').find('input[name="card"]').val();
            var boughtTickets = $('#buy-ticket').find('input[name="boughtTickets"]').val();

            var antiForgeryToken = $('#buy-ticket').find('input[name="__RequestVerificationToken"]').val();

            var data = { groupWorkoutId: groupWorkoutId, fullName: fullName, phoneNumber: phoneNumber, card: card, boughtTickets: boughtTickets };

            var maximumParticipants = @Model.MaximumParticipants;

            $.ajax({
                type: 'POST',
                url: '/api/workouts',
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                success: function(data) {
                    var availableTickets = data.availableTickets;
                    var boughtTickets = maximumParticipants - availableTickets;

                    $('#exampleModal').modal('hide');

                    $('#available-tickets').html(availableTickets);
                    $('#bought-tickets').html(boughtTickets);
                },
                error: function() {
                    alert("Invalid input, Please fill all of the input fields correctly.");
                },
                contentType: 'application/json'
            });
        })
    </script>
}