@model IEnumerable<Message>
@{
    ViewData["Title"] = "Chat Room";
}

<div class="container">
    <h3 class=" text-center">Messenger</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <div id="messagesList" class="msg_history messages">
                    @foreach (var message in Model)
                    {
                        <div class="media mb-3">
                            <img src="@message.UserImageUrl" alt="@message.Username" class="rounded-circle img-message">
                            <div class="media-body ml-3">
                                <div class="bg-primary rounded py-2 px-3 mb-2">
                                    <p class="mb-0 text-white">@message.Text</p>
                                </div>
                                <p class="small text-muted">@message.Username: @message.CreatedOn.ToLocalTime()</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="type_msg">
                    <div id="message-holder" class="input_msg_write">
                        <input id="messageInput" type="text" class="write_msg" placeholder="Type a message" />
                        <button id="sendButton" class="msg_send_btn" type="button">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(".messages").animate({ scrollTop: "99999" }, "fast");

        var connection = new signalR
            .HubConnectionBuilder()
            .withUrl("/chat")
            .build();

        connection.on("NewMessage",
            function (message) {
                var chatInfo = `
<div class="media mb-3">
    <img style="width: 50px;" src="${message.userImageUrl}" alt="" class="rounded-circle img-message">
    <div class="media-body ml-3">
        <div class="bg-primary rounded py-2 px-3 mb-2">
            <p class="mb-0 text-white">${message.text}</p>
        </div>
        <p class="small text-muted">${message.username}: ${moment().format('DD.MM.yyyy HH:mm:ss')}</p>
    </div>
</div>`;
                $("#messagesList").append(chatInfo);
                $(".messages").animate({ scrollTop: "99999" }, "fast");
            });

        $('#sendButton').click(function () {
            var message = $('#messageInput').val();

            var minLength = 2;
            var maxLength = 300;

            if (message === null || message === '') {
                alert('Cannot Publish Empty Message.');
                return;
            }
            if (message.length < minLength || message.length > maxLength) {
                alert(`Message should have minimum length ${minLength} and maximum length ${maxLength}.`);
                return;
            }

            connection.invoke('Send', message);
            $('#messageInput').val('');
        });

        connection
            .start()
            .catch(function (err) {
                return console.error(err.toString());
            });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
}
