@model SupplementsQueryModel
@{
    this.ViewData["Title"] = "Supplements";
}

<link rel="stylesheet" href="~/css/supplements.css" asp-append-version="true">

@{
    var deleteMessage = this.TempData[WebConstants.TempDataMessageKeys.DeleteKey];
    if (deleteMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-exclamation-circle"></i>
            <strong>Deleted!</strong> @deleteMessage
        </div>
    }
}

<section class="dark">
    <div class="container py-4">
        @if (this.User.IsInRole(WebConstants.AdministratorRoleName))
        {
            <div class="text-center">
                <a asp-area="Administration" asp-controller="Supplements" asp-action="Create" class="btn btn-info text-white">Create Supplement</a>
            </div>
        }
        <h1 class="h1 text-center" id="pageHeaderTitle">@this.ViewData["Title"]</h1>

        @foreach (var supplement in this.Model.Supplements)
        {
            <hr class="bg-danger" />
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="javascript:void(0)">
                    <img class="postcard__img supplement-img" src="@supplement.ImageUrl" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue">
                        <a asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id">@supplement.Name</a>
                    </h1>
                    <span class="badge badge-success mb-2">@supplement.Category</span>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">@supplement.Content ...</div>
                    <br />
                    <ul class="postcard__tagbox">
                        <li class="tag__item"><i class="fas fa-dollar-sign mr-2"></i>Price: @supplement.Price BGN</li>
                        <li class="tag__item"><i class="fas fa-flask mr-2"></i>Quantity: @supplement.Quantity grams / tabs</li>
                    </ul>
                    <a asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" class="btn btn-primary float-right">View More</a>
                </div>
            </article>
        }
    </div>
</section>

<hr />
@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = (int)Math.Ceiling((double)Model.TotalSupplements / SupplementsQueryModel.supplementsPerPage);
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a class="page-link"
               asp-controller="Supplements"
               asp-action="All"
               asp-route-currentPage="@previousPage">
                Previous
            </a>
        </li>
        @if ((Model.CurrentPage - 1) > 1)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Supplements"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage - 2)">
                    @(Model.CurrentPage - 2)
                </a>
            </li>
        }
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Supplements"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage - 1)">
                    @(Model.CurrentPage - 1)
                </a>
            </li>
        }
        <li class="page-item active disabled">
            <a class="page-link"
               asp-controller="Supplements"
               asp-action="All"
               asp-route-currentPage="@Model.CurrentPage">
                @Model.CurrentPage
            </a>
        </li>
        @if (Model.CurrentPage != maxPage)
        {
            <li class="page-item @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)">
                <a class="page-link"
                   asp-controller="Supplements"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage + 1)">
                    @(Model.CurrentPage + 1)
                </a>
            </li>
        }
        @if ((Model.CurrentPage + 1) < maxPage)
        {
            <li class="page-item @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)">
                <a class="page-link"
                   asp-controller="Supplements"
                   asp-action="All"
                   asp-route-currentPage="@(Model.CurrentPage + 2)">
                    @(Model.CurrentPage + 2)
                </a>
            </li>
        }
        <li class="page-item @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)">
            <a class="page-link"
               asp-controller="Supplements"
               asp-action="All"
               asp-route-currentPage="@(Model.CurrentPage + 1)">
                Next
            </a>
        </li>
    </ul>
</nav>