@model SupplementServiceModel
@{
    ViewData["Title"] = Model.Name;

    var editMessage = TempData[WebConstants.TempDataMessageKeys.EditKey];
    if (editMessage != null)
    {
        <partial name="_EditMessagePartial" model="@editMessage"/>
    }
}

<link rel="stylesheet" href="~/css/supplementDetails.css" asp-append-version="true">

<div class="row">
    <div class="col-md-8">
        <div class="text-white text-center">
            <a asp-area="Administration" asp-controller="Supplements" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteSupplement">Delete</button>
        </div>
        <div class="olanaklar-kutu">
            <div class="olanaklar">
                <h4 class="pb-3">@Model.Name</h4>
                <ul class="yacht-info__list ">
                    <li>
                        <h2>Price - </h2>
                    </li>
                    <li>
                        <h2>@Model.Price BGN</h2>
                    </li>
                    <li>
                        <h2>Quantity -</h2>
                    </li>
                    <li>
                        <h2>@((Model.Quantity / 1000.0).ToString("F3")) kg</h2>
                    </li>
                </ul>
            </div>
            <div class="olanaklar margin-top--22">
                <h4 class="pb-3">Content</h4>
                <p>@Html.Raw(Model.Content)</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card"></div>
        <img class="suppl-details-img" src="@Model.ImageUrl" alt="@Model.Name" />
        <div class="card-body text-center ">
            <h2 class="text-center">@Model.Category</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class=" tests text-uppercase text-center">Buy</a>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteSupplement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete @Model.Name ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Supplement?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-area="Administration" asp-controller="Supplements" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>