@model SupplementServiceModel
@{
    this.ViewData["Title"] = this.Model.Name;
}

<link rel="stylesheet" href="~/css/supplementDetails.css" asp-append-version="true">

@{
    var message = (string)this.TempData[WebConstants.TempDataMessageKeys.EditedSuccessfully];
    if (message != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-check"></i>
            <strong>Yay!</strong> @message
        </div>
    }
}

<div class="row">
    <div class="col-md-8">
        <div class="text-white text-center">
            <a asp-area="Administration" asp-controller="Supplements" asp-action="Edit" asp-route-id="@this.Model.Id" class="btn btn-info">Edit</a>
            <a class="btn btn-danger">Delete</a>
        </div>
        <div class="olanaklar-kutu">
            <div class="olanaklar">
                <h4 class="pb-3">@this.Model.Name</h4>
                <ul class="yacht-info__list ">
                    <li>
                        <h2>Price - </h2>
                    </li>
                    <li>
                        <h2>@this.Model.Price BGN</h2>
                    </li>
                    <li>
                        <h2>Quantity -</h2>
                    </li>
                    <li>
                        <h2>@((this.Model.Quantity / 1000.0).ToString("F3")) kg</h2>
                    </li>
                </ul>
            </div>
            <div class="olanaklar margin-top--22">
                <h4 class="pb-3">Content</h4>
                <p>@Html.Raw(this.Model.Content)</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card"></div>
        <img class="suppl-details-img" src="@this.Model.ImageUrl" alt="@this.Model.Name" />
        <div class="card-body text-center ">
            <h2 class="text-center">@this.Model.Category</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class=" tests text-uppercase text-center">Buy</a>
        </div>
    </div>
</div>
